:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --theme-color: #f5f4fa;
  --second-theme-color: #2f303a;
  --icons-color: #afb1b8;
  --font-body: 'Roboto', sans-serif;
  --font-logo: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus, .btn:hover {
  background-color: #188ce8;
}

.logo {
  display: block;
  padding: 16px 0;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .logo--header {
    padding: 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: var(--accent-color);
}

.logo--footer {
  padding: 0;
  margin-bottom: 20px;
}

.logo--color {
  color: var(--main-color);
}

/* workers social */
.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-color);
}

/* footer socials */
.footer__social {
  align-items: baseline;
  margin-left: 70px;
}

.footer__action {
  display: block;
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 20px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover, .social__link--footer:focus {
  background-color: var(--accent-color);
}

.social_icon--footer {
  fill: var(--main-color);
}

/* * Modal form */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.is-hidden .modal__window {
  transform: translate(-50%, -50%) scale(0);
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1%;
  right: 1%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
}

.modal__field:last-of-type {
  margin-bottom: 20px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__textarea:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  pointer-events: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__description::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal__agreement-desc {
  user-select: none;
  line-height: 1.71;
  color: var(--second-text-color);
}

.modal__agreement-link {
  color: var(--accent-color);
}

.modal__checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  outline: 1px solid #000000;
  outline-offset: -1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: background-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal__checkbox {
  background-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.checkbox:focus + .modal__checkbox {
  outline: 1px solid var(--accent-color);
}

.modal__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__btn {
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.nav__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.nav__btn .nav__icon-close {
  display: none;
}

.nav__btn.is-open .nav__icon-close {
  display: block;
}

.nav__btn.is-open .nav__icon-menu {
  display: none;
}

@media screen and (min-width: 767px) {
  .nav__btn {
    display: none;
  }
}

.nav__container {
  background-color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .nav__container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .nav__container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav-bar__link--current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .nav-bar__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}

.nav-contacts__link {
  color: var(--second-text-color);
}

@media screen and (max-width: 767px) {
  .nav-contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  }
  .nav-contacts__link--big {
    font-size: 34px;
    line-height: 40px;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts__icon {
    display: none;
  }
}

.mobile-networks {
  display: none;
  max-width: 100%;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .mobile-networks {
    display: flex;
  }
  .mobile-networks__item:not(:last-child) {
    margin-right: 10px;
  }
  .mobile-networks__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  .mobile-networks__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
  }
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: #c4c4c4;
}

.hero__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.hero__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
}

.features__item {
  flex-basis: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--theme-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.features__text {
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  color: var(--second-text-color);
}

.services {
  padding-bottom: 94px;
}

.services__list {
  display: flex;
}

.services__title {
  margin-bottom: 50px;
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.worker {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--theme-color);
}

.worker__title {
  margin-bottom: 50px;
}

.worker__list {
  display: flex;
}

.worker__item {
  flex-basis: 270px;
  background-color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker__item:not(:last-child) {
  margin-right: 30px;
}

.worker__wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.worker__position {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--second-text-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* filter buttons */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  background-color: var(--theme-color);
  color: var(--text-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus, .filter__btn:hover, .filter__btn--active {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects list */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects__card {
  position: relative;
  flex-basis: calc((100% - 30px * 9) / 9);
  margin: 15px;
}

.projects__container {
  padding: 24px 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects__title {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__text {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.projects__card {
  position: relative;
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  height: 100%;
  bottom: 0;
  padding: 63px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  background-color: var(--second-theme-color);
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--physical, .address__link--physical:hover, .address__link--physical:focus {
  color: var(--main-color);
}

/* *  Modal form footer */
.footer__form {
  align-items: baseline;
  margin-left: 93px;
  margin-right: auto;
}

.subscribe {
  display: flex;
  align-items: baseline;
}

.subscribe__btn {
  margin-left: 12px;
  padding: 10px 29px;
  border: none;
  border-radius: 4px;
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  width: 352px;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input:focus {
  border-color: var(--accent-color);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */