.logo {
   display: block;
   padding: 16px 0;

   font-family: var(--font-logo);
   font-weight: 700;
   font-size: 24px;
   line-height: 1.16;
   color: #000000;

   &--header {
      @media screen and (min-width: 768px) {
         padding: 0;
         margin-right: 88px;
      }

      @media screen and (min-width: 1200px) {
         margin-right: 93px;
         font-size: 26px;
         line-height: 1.19;
      }
   }

   &--accent {
      color: var(--accent-color);
   }

   &--footer {
      padding: 0;
      margin-bottom: 20px;
   }

   &--color {
      color: var(--main-color);
   }
}
