/* * Modal form */

.modal {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   z-index: 3;

   overflow-y: scroll;
   background-color: rgba(0, 0, 0, 0.2);
   transform: scale(1);

   transition-property: opacity, visibility;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal.is-hidden {
   transform: scale(0);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal.is-hidden .modal__window {
   transform: translate(-50%, -50%) scale(0);
}

.modal__window {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 320px;
   min-height: 609px;
   padding: 40px;

   border-radius: 4px;
   background-color: #ffffff;

   transform: translate(-50%, -50%) scale(1);
   transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (min-width: 479px) {
      min-width: 450px;
   }
   @media screen and (min-width: 1199px) {
      min-width: 528px;
   }
}

.modal__close-btn {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 1%;
   right: 1%;
   padding: 0;

   border: none;
   background-color: transparent;
   cursor: pointer;
}

.modal__close-icon {
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
   fill: var(--accent-color);
}

.modal__form {
   display: flex;
   flex-direction: column;
}

.modal__title {
   display: flex;
   justify-content: center;
   margin-bottom: 12px;

   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
}

.modal__description {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--second-text-color);
}

.modal__field {
   position: relative;
   margin-bottom: 10px;
}

.modal__field:last-of-type {
   margin-bottom: 20px;
}

.modal__input {
   width: 100%;
   height: 40px;
   margin-top: 4px;
   padding-left: 42px;

   outline: transparent;
   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.2);

   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__textarea:focus {
   border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
   fill: var(--accent-color);
}

.modal__icon {
   position: absolute;
   bottom: 11px;
   left: 12px;
   pointer-events: none;

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
   display: block;
   width: 100%;
   height: 120px;
   margin-top: 4px;
   resize: none;
   padding: 12px 16px;

   outline: transparent;
   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.2);

   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__description::placeholder {
   line-height: 1.14;
   letter-spacing: 0.01em;
   color: var(--second-text-color);
}

.modal__agreement-desc {

   font-size: 12px;
   line-height: 1.17;
   user-select: none;
   color: var(--second-text-color);

   @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
   }
}

.modal__agreement-link {
   color: var(--accent-color);
}

.modal__checkbox {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 16px;
   height: 15px;
   margin-right: 7px;
   

   border-radius: 2px;
   outline: 1px solid #000000;
   outline-offset: -1px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   transition-property: background-color, outline;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal__checkbox {
   background-color: var(--accent-color);
   outline: 1px solid var(--accent-color);
}

.checkbox:focus + .modal__checkbox {
   outline: 1px solid var(--accent-color);
}

.modal__agreement {
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal__btn {
   padding: 10px 56px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
}