// Colors

:root {
   --text-color: #212121;
   --second-text-color: #757575;
   --accent-color: #2196f3;
   --main-color: #ffffff;
   --theme-color: #f5f4fa;
   --second-theme-color: #2f303a;
   --icons-color: #afb1b8;

   // fonts

   --font-body: 'Roboto', sans-serif;
   --font-logo: 'Raleway', sans-serif;
}
