.features {
   padding-top: 94px;
   padding-bottom: 94px;

   &__text {
      font-weight: 400;
      line-height: 1.71;
      text-align: left;
      vertical-align: top;
      color: var(--second-text-color);
   }

   &__title {
      margin-bottom: 10px;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      font-size: 14px;
   }

   &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      height: 120px;

      background-color: var(--theme-color);
      border-radius: 4px;
   }

   @media screen and (max-width: 767px) {
      padding-top: 60px;
      padding-bottom: 60px;

      &__item:not(:last-child) {
         margin-bottom: 30px;
      }

      &__list {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      &__item {
         max-width: 450px;
      }
   }

   @media screen and (min-width: 768px) {
      &__list {
         display: flex;
         flex-wrap: wrap;
      }

      &__item {
         max-width: 354px;
      }

      &__item:nth-child(2n+1) {
         margin-right: 30px;
      }
   }

   @media screen and (min-width: 1200px) {
      &__list {
         display: flex;
      }

      &__item {
         width: 270px;
      }

      &__item:not(:last-child) {
      margin-right: 30px;
      }
   }
}
