.footer {
   padding-top: 60px;
   background-color: var(--second-theme-color);
   padding-bottom: 60px;

   &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
   }
}

.address__item:not(:first-child) {
   margin-top: 9px;
}

.address__link {
   font-weight: 400;
   line-height: 1.71;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--accent-color)
   }

   &--physical,
   &--physical:hover,
   &--physical:focus {
   color: var(--main-color);
   }
}

/* *  Modal form footer */

.footer__form {
   align-items: baseline;
   margin-left: 93px;
   margin-right: auto;
}

.subscribe {
   display: flex;
   align-items: baseline;

   &__btn {
      margin-left: 12px;
      padding: 10px 29px;
      border: none;
      border-radius: 4px;
   }

   &__icon {
      margin-left: 10px;
   }
   
}

.subscribe__input {
   width: 352px;
   height: 50px;
   padding: 15px 16px;

   color: rgba(255, 255, 255, 0.6);
   background-color: transparent;
   outline: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;

   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:focus {
      border-color: var(--accent-color);
   }

   &::placeholder {
      color: rgba(255, 255, 255, 0.6);
   }
}
