.header {
   border-bottom: 1px solid #ececec;

   @media screen and (max-width: 767px) {
      &__wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   @media screen and (min-width: 768px) {
      &__container {
         display: flex;
         align-items: center;
      }
   }
}

// menu close btn

.nav__btn {
   position: absolute;
   top: 10px;
   right: 15px;

   display: inline-flex;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   z-index: 2;

   & .nav__icon-close {
      display: none;
   }

   &.is-open .nav__icon-close {
      display: block;
   }

   &.is-open .nav__icon-menu {
      display: none;
   }

   @media screen and (min-width: 767px) {
      display: none;
   }
}

.nav__container {
   display: flex;
   width: 100%;
   background-color: var(--main-color);

   @media screen and (max-width: 767px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 40px;
      padding-right: 40px;

      &.is-open {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         z-index: 1;
      }
   }
}

.nav-bar {
   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
   }
}

.nav-bar__item {
   position: relative;
   @media screen and (max-width: 767px) {
      &:not(:last-child) {
         margin-bottom: 32px;
      }
   }

   @media screen and (min-width: 768px) {
      &:not(:last-child) {
         margin-right: 50px;
      }
   }
}

.nav-bar__link {
   font-weight: 500;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &--current {
      color: var(--accent-color);
   }

   @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 1.18;
   }

   @media screen and (min-width: 768px) {
      display: flex;
      padding: 32px 0px;
      font-size: 14px;
      line-height: 1.14;

      &--current::after {
         content: '';
         display: block;
         width: 100%;
         height: 4px;
         position: absolute;
         bottom: -1px;

         border-radius: 2px;
         background-color: var(--accent-color);
      }
   }

   &:hover,
   &:focus,
   &--contact:focus,
   &--contact:hover,
   &--current {
      color: var(--accent-color);
   }
}

.nav__inner {
   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-left: auto;
   }
}

.nav-contacts {
   @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
   }

   @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
   }
}

.nav-contacts__item {
   @media screen and (max-width: 767px) {
      &:not(:first-child) {
         margin-bottom: 32px;
      }
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-bottom: 0;

      &:not(:last-child) {
         margin-right: 30px;
      }
   }
}

.nav-contacts__link {
   color: var(--second-text-color);
   font-weight: 500;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 1.17;

      &--big {
         font-size: 34px;
         line-height: 40px;
         color: var(--accent-color);
      }
   }

   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;

      font-size: 14px;
      line-height: 1.14;
   }

   @media screen and (min-width: 1200px) {
      padding: 32px 0;
   }

   &:hover,
   &:focus,
   &--contact:focus,
   &--contact:hover,
   &--current {
      color: var(--accent-color);
   }

   &:hover .nav-contacts__icon,
   &:focus .nav-contacts__icon,
   &:focus .nav-contacts__icon,
   &:hover .nav-contacts__icon {
      fill: currentColor;
   }
}

.nav-contacts__icon {
   margin-right: 10px;
   fill: var(--second-text-color);

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   @media screen and (max-width: 767px) {
      display: none;
   }
}

.mobile-networks {
   display: none;
   max-height: 100%;
   max-width: 100%;
   margin: -5px;

   @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;

      &__item {
         margin: 5px;
      }

      &__item:not(:last-child) {
         border-right: 1px solid rgba(33, 33, 33, 0.2);
         padding-right: 10px;
      }

      &__link {
         font-weight: 500;
         font-size: 18px;
         line-height: 1.22;
         color: var(--accent-color);
      }
   }
}
