.header {
   border-bottom: 1px solid #ececec;

   @media screen and (max-width: 767px) {
      &__wrapper {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   @media screen and (min-width: 768px) {
      &__container {
         display: flex;
         align-items: center;
      }
   }
}

// menu close btn

.nav__btn {
   position: absolute;
   top: 10px;
   right: 15px;

   display: inline-flex;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   z-index: 2;

   & .nav__icon-close {
      display: none;
   }

   &.is-open .nav__icon-close {
      display: block;
   }

   &.is-open .nav__icon-menu {
      display: none;
   }

   @media screen and (min-width: 767px) {
      display: none;
   }
}

.nav__container {
   background-color: var(--main-color);

   @media screen and (max-width: 767px) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;

      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 40px;

      &.is-open {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         z-index: 1;
      }
   }
}

// .nav-bar {
//    @media screen and (max-width: 767px) {

//    }
// }

.nav-bar__item {
   @media screen and (max-width: 767px) {
      &:not(:last-child) {
         margin-bottom: 32px;
      }
   }
}

.nav-bar__link {
   &--current {
      color: var(--accent-color);
   }

   @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
   }
}

.nav-contacts {
   @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
   }
}

.nav-contacts__item {
   @media screen and (max-width: 767px) {
      &:not(:first-child) {
         margin-bottom: 32px;
      }
   }
}

.nav-contacts__link {
   color: var(--second-text-color);

   @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;

      &--big {
         font-size: 34px;
         line-height: 40px;
         color: var(--accent-color);
      }
   }
}

.nav-contacts__icon {
   @media screen and (max-width: 767px) {
      display: none;
   }
}

.mobile-networks {
   display: none;

   @media screen and (max-width: 767px) {
      display: flex;

      &__item:not(:last-child) {
         margin-right: 10px;
      }

      &__item:not(:last-child) {
         border-right: 1px solid rgba(33, 33, 33, 0.2);
         padding-right: 10px;
      }

      &__link {
         font-weight: 500;
         font-size: 18px;
         line-height: 1.22;
         color: var(--accent-color);
      }
   }
}

// .mobile-networks__link {
//    font-weight: 500;
//    font-size: 18px;
//    line-height: 1.22;
//    color: var(--accent-color);
//    padding-right: 10px;
//    border-right: 1px solid var(--second-text-color);
//    &:not(:last-child) {
//       border-right: 1px solid var(--second-text-color);
//    }
// }

// .nav__container {
//    width: 100%;

//    @media screen and (max-width: 767px) {
//       &.is-open {
//          display: flex;
//          flex-direction: column;
//          justify-content: space-between;
//       }

//       display: none;
//       position: absolute;
//       top: 100%;
//       left: 0;
//       width: 100%;
//       padding-top: 48px;
//       padding-bottom: 48px;
//       margin-left: 40px;
//       margin-right: auto;
//    }

//    @media screen and (min-width: 768px) {
//       display: flex;
//       align-items: center;
//    }
// }
// // navigations

// @media screen and (max-width: 767px) {
//    .nav-bar__item:not(:last-child) {
//       margin-bottom: 32px;
//    }

//    .nav-bar__link {
//       font-weight: 500;
//       font-size: 40px;
//       line-height: 1.18;
//    }

//    .nav-contacts {
//       display: flex;
//       flex-direction: column-reverse;
//    }
//    .nav-contacts__item:not(:first-child) {
//       margin-bottom: 32px;
//    }

//    .nav-contacts__link {
//       font-weight: 500;
//       font-size: 24px;
//       line-height: 1.17;
//       color: var(--second-text-color);
//    }

//    .nav-contacts__link--big {
//       font-size: 34px;
//       line-height: 40px;
//       color: var(--accent-color);
//    }
//    .nav-contacts__icon {
//       display: none;
//    }
// }

// @media screen and (min-width: 768px) {
//    .nav-bar {
//       display: flex;
//       margin-left: auto;
//    }

//    .nav-bar__item:not(:last-child) {
//       position: relative;
//       margin-right: 50px;
//    }

//    .nav-bar__link {
//       padding: 32px 0;
//       display: flex;
//       align-items: center;

//       font-weight: 500;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--text-color);

//       transition-property: color;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }

//    .nav-bar__link--current::after {
//       content: '';
//       display: block;
//       width: 100%;
//       height: 4px;
//       position: absolute;
//       bottom: -1px;

//       border-radius: 2px;
//       background-color: var(--accent-color);
//    }

//    .nav-contacts {
//       margin-left: auto;
//    }

//    .nav-contacts__link {
//       display: flex;
//       margin-right: auto;

//       font-weight: 500;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--second-text-color);

//       transition-property: color;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }

//    .nav-contacts__icon {
//       margin-right: 10px;
//       margin-bottom: 10px;
//       fill: var(--second-text-color);

//       transition-property: fill;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }
// }

// .nav__link {
//    &--contact {
//       color: var(--second-text-color);
//    }

//    &:hover,
//    &:focus,
//    &--contact:focus,
//    &--contact:hover,
//    &--current {
//       color: var(--accent-color);
//    }

//    &:hover .nav__icon,
//    &:focus .nav__icon,
//    &--contact:focus .nav__icon,
//    &--contact:hover .nav__icon {
//       fill: currentColor;
//    }
// }

// @media screen and (min-width: 1200px) {
//    .nav-bar {
//       display: flex;
//       margin-left: auto;
//    }

//    .nav-bar__item:not(:last-child) {
//       position: relative;
//       margin-right: 50px;
//    }

//    .nav-bar__link {
//       padding: 32px 0;
//       display: flex;
//       align-items: center;

//       font-weight: 500;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--text-color);

//       transition-property: color;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }

//    .nav-bar__link--current::after {
//       content: '';
//       display: block;
//       width: 100%;
//       height: 4px;
//       position: absolute;
//       bottom: -1px;

//       border-radius: 2px;
//       background-color: var(--accent-color);
//    }

//    .nav-contacts {
//       display: flex;
//       align-items: center;
//       margin-left: 84px;
//    }

//    .nav-contacts__link {
//       display: flex;
//       margin-right: auto;

//       font-weight: 500;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       color: var(--second-text-color);

//       transition-property: color;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }

//    .nav-contacts__icon {
//       margin-right: 10px;
//       margin-bottom: 10px;
//       fill: var(--second-text-color);

//       transition-property: fill;
//       transition-duration: 250ms;
//       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//    }
// }

// .nav__link {
//    &--contact {
//       color: var(--second-text-color);
//    }

//    &:hover,
//    &:focus,
//    &--contact:focus,
//    &--contact:hover,
//    &--current {
//       color: var(--accent-color);
//    }

//    &:hover .nav__icon,
//    &:focus .nav__icon,
//    &--contact:focus .nav__icon,
//    &--contact:hover .nav__icon {
//       fill: currentColor;
//    }
// }
