.hero {
   padding: 118px 0;
   margin: 0 auto;

   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-mob.jpg');
   height: auto;
   background-size: cover;
   background-color: #c4c4c4;
   background-position: center;

   @media screen and (min-width: 1200px) {
      padding: 200px 0;
      max-width: 1600px;
   }

   &__title {
      margin-left: auto;
      margin-right: auto;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--main-color);
      text-align: center;
      max-width: 360px;
      font-size: 26px;
      line-height: 1.62;

      @media screen and (min-width: 1200px) {
         max-width: 700px;
         font-size: 44px;
         line-height: 1.36;
      }
   }

   &__btn {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 32px;
   }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url('../images/hero/hero-mob@2x.jpg');
   }
}

@media (min-width: 480.02px) {
   .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url('../images/hero/hero-tab.jpg');
   }

   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-tab@2x.jpg');
      }
   }
}

@media (min-width: 768.02px) {
   .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url('../images/hero/hero-desk.jpg');
   }

   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-desk@2x.jpg');
      }
   }
}
