/* filter buttons */
.section {
   padding: 60px 0;

   @media screen and (min-width: 1199px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}

.filter {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   @media screen and (max-width: 767px) {
      justify-content: flex-start;
      margin: -8px;
      margin-bottom: 40px;

      &__item {
         margin: 8px;
      }
   }

   @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      justify-content: center;

      &__item:not(:last-child) {
         margin-right: 8px;
      }
   }
   @media screen and (min-width: 1199px) {
      margin-bottom: 50px;
   }
}

.filter__btn {
   border: none;
   border-radius: 4px;
   padding: 6px 22px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;

   cursor: pointer;
   background-color: var(--theme-color);
   color: var(--text-color);
   transition-property: background-color, color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &--active {
      background-color: var(--accent-color);
      color: var(--main-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
         0px 2px 2px rgba(0, 0, 0, 0.12);
   }

   @media screen and (max-width: 767px) {
      justify-content: flex-start;
   }
}

/* projects list */

.projects {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;

   &__card {
      margin: 15px;
   }

   &__container {
      padding: 24px 20px;
      border-left: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
   }

   &__title {
      margin-bottom: 4px;
      text-align: left;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
   }

   &__text {
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      color: var(--second-text-color);
   }

   &__wrapper {
      position: relative;
      overflow: hidden;
   }

   &__overlay {
      position: absolute;
      height: 100%;
      bottom: 0;
      padding: 63px 24px;

      font-size: 18px;
      line-height: 1.56;
      color: var(--main-color);
      background-color: rgba(33, 150, 243, 0.9);

      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (max-width: 479px) {
         padding: 24px;
         font-size: 14px;
      }
   }

   &__container {
      flex-grow: 1;
   }

   @media screen and (max-width: 767px) {
      &__card {
         flex-basis: calc(100% - 30px);
      }
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      &__card {
         flex-basis: calc((100% - 60px) / 2);
      }
   }

   @media screen and (min-width: 1200px) {
      &__card {
         flex-basis: calc((100% - 90px) / 3);
      }
   }
}

.projects__link {
   display: block;
   height: 100%;

   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
         1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   &:hover .projects__overlay,
   &:focus .projects__overlay {
      transform: translateY(0);
   }

   @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
   }
}
