.services {

   @media screen and (max-width: 1199px) {
      display: none;
   }
   
   padding-bottom: 94px;

   &__list {
      display: flex;
   }

   &__title {
      margin-bottom: 50px;
   }

   &__item {
      position: relative;
   }

   &__item:not(:last-child) {
      margin-right: 30px;
   }

   &__text {
      position: absolute;
      bottom: 0;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--main-color);
      background-color: rgba(47, 48, 58, 0.8);
   }
}